@model IEnumerable<Ecomerce_test1.Models.Entities.Colors>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a  asp-action="Create" asp-controller="Categories" class="custom" >Create New Catagory</a>
    <a asp-action="Create" asp-controller="Colors"  class="custom">Create New Color</a>
    <a asp-action="Create" asp-controller="Product" class="custom">Create New Product </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
